html{
  padding : 0;
  margin : 0;
  }
body{
  position : relative;
  background-position: top center;
  background-repeat: no-repeat;
  background-color: #ebeced;
  font-family : Arial,sans-serif, Arial, sans-serif;
  color : black;
  padding : 0;
  margin : 0;
  overflow-x: hidden;
}
figure img{
  position : relative;
  padding: 0%;
}
p{
  font-size : 13px;
   color :#383d48 ;
  margin:0% ;
  line-height : 40px;
  text-align : left;
}
header{
  width : 100%;
}
h1{
 font-size : 13px;
 color :#444444 ;
}
figcaption{
 font-size : 12px;
 color :#383d48;
}
strong{
font-weight : bold;
}
a:hover{
text-decoration : none;
}
#img{
  position : relative;
  margin: 0px 0 0 0%;
}

/* les 3 grands blocs */
.bloc-gauche {
  display : inline-block;
  float : left;
  margin-right : 3%;
  margin-left : 18%;
}
.bloc-droit {
  display : inline-block;
  margin-top : 60px;
  width : 400px;
}
.bloc-scroll {
  display : block;
  float : left ;
  position : relative;
  margin-top : 33%;
  margin-left :-30%;
  width : 60%;
  padding-bottom : 500px;
}
/* texte transition "you may also..." */
.text-intro {
  position : relative;
  top : 30px;
  left : 130px;
}
.text-intro p {
  font-size : 15px;
  color : grey;
}
.text-intro strong{
  font-size : 15px;
  color : #444444;
}
/* texte transition "you may also..." dans la barre de nav qui scrolle */
.text-intro2{
  display : none;
  position : fixed;
  background-color : white;
  top : 54px;
  z-index : 99999999;
  padding-top : 10px;
  padding-bottom : 10px;
  padding-right : 720px;
  padding-left : 20px;
  margin-left : 120px;
   border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border: 1px solid #d3d4d5;
}
.text-intro2 p{
  font-size : 15px;
  color : grey;
}
.text-intro2 strong{
  font-size : 15px;
  color : #444444;
}
.text-intro strong{
  font-size : 15px;
  color : #444444;
}
/* bloc produit manteau */
.bloc1{
  position : relative;
  left : 20%;
  margin-top : 10%;
  width : 650px;
  background-color : white;
  padding: 5px 5px 5px 5px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border: 1px solid #d3d4d5;
}
.bloc1 figure img{
  margin: 0px 1px 0px 0px;
}
.icone-img{
  margin-top : -280px;
  margin-left : 20px;
     border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
}
.bloc1 figure figcaption{
  width : 400px;
  margin-top : 25px;
  margin-left : 220px;
}
.return{
  padding-top : -30px;
  margin-left : 220px;
  width : 400px;
  border-width:1px 0px 0px 0px;
  border-style:solid;border-color: #dddddd;
}
.availability{
  margin-left : 220px;
  width : 400px;
  border-width:1px 0px 0px 0px;
  border-style:solid;border-color: #dddddd;
}
.delivery{
  margin-left : 220px;
  width : 400px;
}
.bloc1 h1{
  display : block;
  color : #8d8d8d;
}
.bloc1 p{
  margin-top : -38px;
  top : 10px;
  margin-left : 140px;
}
.bloc1 p a:hover{
text-decoration : none;
}
/* zone de commentaires */
.bloc-commentaires{
  position : relative;
  left : 20%;
  margin-top : 3%;
  width : 650px;
  background-color : white;
  padding: 5px 5px 5px 5px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border: 1px solid #d3d4d5;
}
.bloc-commentaires textarea{
  width : 630px;
  background-color : #f6f6f6;
   border: 1px solid #d3d4d5;
   color: #d3d4d5;
   outline : none;
}
/* bloc petites images dans bloc de gauche en bas */
.bloc-images {
  width : 650px;
  margin-left : 20%;
  background-color : white;
  margin-top : 3%;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border: 1px solid #d3d4d5;
}
.bloc-images a:hover{
  text-decoration : none;
}
.text-images{
  padding-top : 20px;
  margin-left : 20px;
}
.text-images h1{
  display : inline-block;
  position : relative;
  top : -11px;
  left : 3px;
  font-size : 7px;
}
.text-images p{
  display : inline-block;
  margin-left : 20px;
  line-height : 18px;
  font-size : 12px;
}
.petites-images {
 margin-left : 20px;
}
.petites-images img{
  display : inline-block;
  width : 11%;
  margin-left : 3px;
  margin-bottom : 15px;
}
.text-images span{
  display : inline-block;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border: 1px solid #d3d4d5;
}
.glyphicon-user {
  display : inline-block;
  float : right;
  margin-right : 22px;
  margin-top : -5px;
  padding  : 10px 10px 10px 10px;
  color : #444444;
  font-weight : bold;
  background-image:linear-gradient(#fdfdfe, #f7f8f9);
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border: 1px solid #d3d4d5;
}


/* bloc de droite */
/* details produit */
.bloc2 {
  background-color : white;
  padding-left : 15px;
  padding-bottom : 20px;
  margin-left : 20%;
  margin-top : 1%;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border: 1px solid #d3d4d5;
}
.bloc2 h2{
  font-size : 18px;
  line-height : 23px;
}
.bloc2 h3{
  font-size : 20px;
  margin-bottom : 0px;
}
.bloc2 p{
  font-size : 12px;
  margin-top : -5px;
  color : #8d8d8d;
}
/* menus deroulants taille... */
.champ1{
  display : inline-block;
}
.champ1 p{
margin-bottom : -5px;
}
.champ2{
  display : inline-block;
}
.champ2 p{
  margin-bottom : -5px;
}
.champ1 select{
  margin-right : 5px;
  width : 170px;
  height : 30px;
  display : inline-block;
  background-color : #f8f8f8;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border: 1px solid #d3d4d5;
}
.champ2 select{
  width : 105px;
  height : 30px;
  display : inline-block;
  background-color : #f8f8f8;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border: 1px solid #d3d4d5;
}
.bloc2 input{
  margin-top : 10px;
  width : 285px;
  font-weight : bold;
  height : 40px;
  color : white;
  background-image:linear-gradient(#70a85a, #659d4f);
  border: 1px solid #327617;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
.bloc2 input:hover{
  background-image:linear-gradient(#7fbe66, #659d4f);
}
/* bloc avec les glyphs */
.bloc-cadres {
  background-color : white;
  padding-left : 15px;
  padding-bottom : 20px;
  margin-left : 20%;
  margin-top : -2%;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border: 1px solid #d3d4d5;
}
.blocs {
 margin-top : 15px;
}
.bloc-fancy {
  display : inline-block;
  padding-top : 10px;
  padding-left : 10px;
  color : #8d8d8d;
  width : 80px;
  height : 35px;
  margin-right : 4px;
  background-image:linear-gradient(#fdfdfe, #f7f8f9);
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border: 1px solid #d3d4d5;
}
.bloc-fancy p{
  text-align : center;
  margin-top : -32px;
  margin-left : 5px;
  color : #8d8d8d;
  font-size : 12px;
  font-weight : bold;
}
.bloc-chiffre {
  display : inline-block;
  color : #8d8d8d;
  width : 40px;
  height : 35px;
  margin-right : 40px;
  background-image:linear-gradient(#fdfdfe, #f7f8f9);
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border: 1px solid #d3d4d5;
}
.bloc-chiffre p{
  text-align : center;
  margin-top : -2px;
  color : #8d8d8d;
  font-size : 12px;
}
.bloc-listes{
  display : inline-block;
  color : #8d8d8d;
  width : 70px;
  height : 35px;
  margin-right : 4px;
  background-image:linear-gradient(#fdfdfe, #f7f8f9);
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border: 1px solid #d3d4d5;
}
.bloc-listes p{
  text-align : center;
  margin-top : -2px;
  margin-left : 5px;
  color : #8d8d8d;
  font-size : 12px;
  font-weight : bold;
}
.bloc-fleche {
  display : inline-block;
  color : #8d8d8d;
  padding-top : 6px;
  width : 35px;
  height : 35px;
  margin-top : 10px;
  margin-right : 0px;
  background-image:linear-gradient(#fdfdfe, #f7f8f9);
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border: 1px solid #d3d4d5;
}
.glyphicon-chevron-right{
  top : 10px;
  margin-left : 10px;
}
.glyphicon-share-alt{
  margin-left : 10px;
}
/* bloc 2 liens rectangulaires */
.bloc3{
  margin-left : 20%;
  margin-top : 4%;
  width : 320px;
  height : 75px;
  background-color:white;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border: 1px solid #d3d4d5;
}
.bloc3 p{
  margin-top : -15px;
  margin-left : 15px;
  font-size : 14px;
}
.bloc3 h1{
  color : #8e939f;
  margin-left : 13px;
}
.glyphicon-chevron-right {
  top : -40px;
  left : 280px;
  color : #e7e7e7;
}
.bloc3:hover .glyphicon-chevron-right {
  color : grey;
}
.bloc4:hover .glyphicon-chevron-right {
  color : grey;
}
.btn{
  margin-top : -60px;
  margin-left : 275px;
  border : none;
  background-color: transparent;
}
.btn:hover{
  background-color: transparent;
}
.bloc4{
  margin-left : 20%;
  margin-top : -2px;
  height : 75px;
  width : 320px;
  background-color:white;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border: 1px solid #d3d4d5;
}
.bloc3:hover{
  background-color:#f7f8f9;
}
.bloc4:hover{
  background-color:#f7f8f9;
}
.bloc4 p{
  margin-top : -15px;
  margin-left : 15px;
  font-size : 14px;
}
.bloc4 h1{
  color : #8e939f;
  margin-left : 13px;
}

/* dernier bloc du bloc de droite "opumo" */
.bloc5 {
  background-color : white;
  margin-top : 4%;
  padding-bottom : 20px;
  margin-left : 20%;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border: 1px solid #d3d4d5;
}
.bloc5 h1 {
  display : inline-block;
  background-color : white;
  font-size : 7px;
  width : 40px;
  height : 40px;
  text-align : center;
  padding: 16px 0px 0px 0px;
  margin-top : 4%;
  margin-left : 4%;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border: 1px solid #d3d4d5;
}
.bloc5 p {
  display : inline-block;
  position : relative;
  font-size : 13px;
  top : -5px;
}
.bloc5 strong {
  display : inline-block;
  position : relative;
  font-size : 13px;
  left : 55px;
  top : -30px;
}
.bloc5img {
  margin-top : -15px;
 margin-left: 18px;
}
.bloc5img img{
  width : 29%;
  margin-left : 3px;
}
.bloc5 input{
  margin-top : 10px;
  margin-left : 18px;
  width : 280px;
  height : 40px;
  color : #444444;
  font-weight : bold;
  background-image:linear-gradient(#fdfdfe, #f7f8f9);
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border: 1px solid #d3d4d5;
}
.bloc6 p{
 margin-left : 20%;
  color : #bdbcbc;
  font-size : 11px;
}


/* bloc scroll */
.photos {
  display : inline-block;
  position : relative;
  margin-right : 2%;
  background-color:black;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border: 1px solid #d3d4d5;
}
.photos figure img{
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border: 1px solid #d3d4d5;
}
.figcaption figcaption{
  padding-top : 10px;
  background-color:white;
  padding-bottom : 10px;
  font-size : 13px;
  padding-left : 7px;
}
.photo5 {
  margin-top : 2%;
}
.photo5 strong{
  color : grey;
}
.photo6 strong{
  color : grey;
}
.photo5 strong strike{
  color : red;
}
/* glyphicon */
.fancy1{
  position : absolute;
  display : none;
  margin-top: 5px;
  margin-left: 5px;
  z-index : 9999;
}
.fleche1{
  position : absolute;
  display : none;
  margin-top: 5px;
  margin-left: 180px;
  z-index : 9999;
}
.bloc-scroll figure:hover .fancy1{
  display : block;
}
.bloc-scroll figure:hover .fleche1{
  display : block;
}
.bloc-scroll figure:hover img{
-webkit-mask: linear-gradient(to top, rgba(0,0,0,1) 0%,rgba(0,0,0,0) 400%););
}

/* nav */
.nav li a {
  font-size : 13px;
}
.nav{
 color : #444444;
}
.mega-dropdown {
  position: static !important;
}
.mega-dropdown-menu {
  height : 300px;
  padding: 10px 0px;
  width : 100%;
  box-shadow: none;
  -webkit-box-shadow: none;
}
.mega-dropdown-menu  a {
  font-size : 12px;
  color : grey;
}
.navbar-right .dropdown-menu {
  -webkit-columns: 2;
      -moz-columns: 2;
      columns: 2;
}
.col-sm-3 {
  width : 100%;
  margin-top : 20px;
  position : relative;
  display : inline-block;     
}
.col-sm-4 {
width : 0%;
float : left;
margin-left : -500px;
border-width:0px 1px 0px 0px; border-style:solid;border-color: #dddddd;
}
.col-sm-5 {
  float : right;
  position : relative;
  margin-top : -25px;
  border-width:0px 0px 0px 1px; border-style:solid;border-color: #dddddd;
}
.dropdown-header2 {
  vertical-align : baseline;
  quotes : none;
  float : left;
  list-style: none;
  height : 50%;
  width : 35%;
  -webkit-columns: 2;
      -moz-columns: 2;
      columns: 2;
}
.dropdown-header2 li {
line-height : 20px;
}
.dropdown-header3 {
  vertical-align : baseline;
  quotes : none;
  list-style: none;
  float : left;
  border-width:0px 0px 0px 1px; border-style:solid;border-color: #dddddd;
}
.dropdown-header4 {
  vertical-align : baseline;
  quotes : none;
  list-style: none;
  display : inline-block;
}
.dropdown-header-titre1 {
  position :relative;
  padding-bottom : 6px;
  margin-left :40px;
}
.dropdown-header-titre2 {
  position :relative;
  float : left;
  margin-top : -25px;
  left : 41px;
}
.dropdown-header-titre4 {
 padding-bottom : 10px;
}
.dropdown li a{
  margin-top : 2px;
  margin-bottom : 2px;
  font-size : 12px;
}
.mega-dropdown-menu > li > ul {
  padding: 0;
  margin: 0;
}
.mega-dropdown-menu > li > ul > li {
  list-style: none;
}
.mega-dropdown-menu > li > ul > li > a {
  display: block;
  color: #222;
  padding: 3px 5px;
}
.navbar-collapse.dropdown-toggle:hover{
background-color : white;
}
.mega-dropdown-menu > li ul > li > a:hover,
.mega-dropdown-menu > li ul > li > a:focus {
  text-decoration: none;
}
.mega-dropdown-menu .dropdown-header {
  font-size: 12px;
  font-weight : bold;
  background-color: none;
  line-height: 30px;
}
.item {
  display : block;
  position : relative;
  width : 100%;
}
sup {
color : #329de8;
}
.item img {
  position : relative;
  width : 40%;
}
.item2{
  margin-left : 180px;
  margin-top : -152px;
}
.dropdown-toggle a:hover .bloc-gauche{
  background-color : red;
  filter: brightness(30%);
  -webkit-filter: brightness(30%);
  -moz-filter: brightness(30%);
  -o-filter: brightness(30%);
  -ms-filter: brightness(30%);
}